In [2]:
import json
import requests

In [3]:
url = "https://api.rootnet.in/covid19-in/"
ltt = 'stats/latest'
hist = 'stats/history'
beds = 'hospitals/beds'
clg = 'hospitals/medical-colleges'

In [4]:
r = requests.get(url+ltt)

In [5]:
r

In [6]:
x = r.json()

In [7]:
import pandas as pd

In [8]:
latest = pd.read_json(json.dumps(x))

In [9]:
latest

,success,data,lastRefreshed,lastOriginUpdate
regional,True,"[{'loc': 'Andaman and Nicobar Islands', 'confi...",2021-03-28T17:04:23.279Z,2021-03-28T02:30:00.000Z
summary,True,"{'total': 11971624, 'confirmedCasesIndian': 11...",2021-03-28T17:04:23.279Z,2021-03-28T02:30:00.000Z
unofficial-summary,True,"[{'source': 'covid19india.org', 'total': 79459...",2021-03-28T17:04:23.279Z,2021-03-28T02:30:00.000Z

In [10]:
latest_region_json = x['data']['regional']

In [11]:
latest_region = pd.read_json(json.dumps(latest_region_json))

In [12]:
latest_region

,loc,confirmedCasesIndian,confirmedCasesForeign,discharged,deaths,totalConfirmed
0,Andaman and Nicobar Islands,5044,0,4975,62,5044
1,Andhra Pradesh,897810,0,885892,7203,897810
2,Arunachal Pradesh,16845,0,16785,56,16845
3,Assam,218222,0,215348,1104,218222
4,Bihar,264604,0,261917,1571,264604
5,Chandigarh,25898,0,22992,374,25898
6,Chhattisgarh,337940,0,316043,4061,337940
7,Dadra and Nagar Haveli and Daman and Diu,3580,0,3448,2,3580
8,Delhi,655833,1,638212,10997,655834
9,Goa,57452,1,55250,824,57453
10,Gujarat,298595,1,283241,4484,298596
11,Haryana,286313,14,274785,3132,286327
12,Himachal Pradesh,62383,0,58989,1033,62383
13,Jammu and Kashmir,129684,0,125886,1985,129684
14,Jharkhand,122621,0,119878,1107,122621
15,Karnataka,983930,0,950167,12492,983930
16,Kerala,1115769,8,1086669,4567,1115777
17,Ladakh,9974,0,9727,130,9974
18,Lakshadweep,714,0,625,1,714
19,Madhya Pradesh,286407,0,269465,3947,286407
20,Maharashtra,2673458,3,2314579,54073,2673461
21,Manipur,29376,0,28944,374,29376
22,Meghalaya,14031,0,13855,150,14031
23,Mizoram,4465,0,4428,11,4465
24,Nagaland,12229,0,12133,92,12229
25,Odisha,339904,0,336571,1920,339904
26,Puducherry,40964,0,39521,680,40964
27,Punjab,228864,0,198972,6621,228864
28,Rajasthan,329593,2,320426,2811,329595
29,Sikkim,6226,0,6041,135,6226
30,Tamil Nadu,877273,6,852463,12659,877279
31,Telengana,306329,10,300156,1688,306339
32,Tripura,33491,0,33050,392,33491
33,Uttarakhand,99514,1,96467,1709,99515
34,Uttar Pradesh,612402,1,596953,8783,612403
35,West Bengal,583839,0,568909,10322,583839

In [13]:
latest_summary_json = x['data']['summary']

In [14]:
latest_summary_json

{'total': 11971624,
 'confirmedCasesIndian': 11971576,
 'confirmedCasesForeign': 48,
 'discharged': 11323762,
 'deaths': 161552,
 'confirmedButLocationUnidentified': 0}

In [15]:
latest_summary =  pd.DataFrame(latest_summary_json,index = [0])

In [16]:
latest_summary

,total,confirmedCasesIndian,confirmedCasesForeign,discharged,deaths,confirmedButLocationUnidentified
0,11971624,11971576,48,11323762,161552,0

In [17]:
latest_unofficial_json = x['data']['unofficial-summary']

In [18]:
latest_unofficial = pd.read_json(json.dumps(latest_unofficial_json))

In [19]:
latest_unofficial

             source    total  recovered  deaths  active
0  covid19india.org  7945975    7198877  119538  626192

In [20]:
r_hist = requests.get(url+hist)

In [21]:
x_hist = r_hist.json()['data']

In [22]:
x_hist[377]

{'day': '2021-03-22',
 'summary': {'total': 11646081,
  'confirmedCasesIndian': 11646033,
  'confirmedCasesForeign': 48,
  'discharged': 11151468,
  'deaths': 159967,
  'confirmedButLocationUnidentified': 0},
 'regional': [{'loc': 'Andaman and Nicobar Islands',
   'confirmedCasesIndian': 5039,
   'confirmedCasesForeign': 0,
   'discharged': 4969,
   'deaths': 62,
   'totalConfirmed': 5039},
  {'loc': 'Andhra Pradesh',
   'confirmedCasesIndian': 893734,
   'confirmedCasesForeign': 0,
   'discharged': 884357,
   'deaths': 7189,
   'totalConfirmed': 893734},
  {'loc': 'Arunachal Pradesh',
   'confirmedCasesIndian': 16842,
   'confirmedCasesForeign': 0,
   'discharged': 16783,
   'deaths': 56,
   'totalConfirmed': 16842},
  {'loc': 'Assam',
   'confirmedCasesIndian': 217976,
   'confirmedCasesForeign': 0,
   'discharged': 215213,
   'deaths': 1100,
   'totalConfirmed': 217976},
  {'loc': 'Bihar',
   'confirmedCasesIndian': 263569,
   'confirmedCasesForeign': 0,
   'discharged': 261487,
   'deaths': 1559,
   'totalConfirmed': 263569},
  {'loc': 'Chandigarh',
   'confirmedCasesIndian': 24459,
   'confirmedCasesForeign': 0,
   'discharged': 22225,
   'deaths': 362,
   'totalConfirmed': 24459},
  {'loc': 'Chhattisgarh',
   'confirmedCasesIndian': 324153,
   'confirmedCasesForeign': 0,
   'discharged': 311761,
   'deaths': 3950,
   'totalConfirmed': 324153},
  {'loc': 'Dadra and Nagar Haveli and Daman and Diu',
   'confirmedCasesIndian': 3481,
   'confirmedCasesForeign': 0,
   'discharged': 3427,
   'deaths': 2,
   'totalConfirmed': 3481},
  {'loc': 'Delhi',
   'confirmedCasesIndian': 647983,
   'confirmedCasesForeign': 1,
   'discharged': 633410,
   'deaths': 10956,
   'totalConfirmed': 647984},
  {'loc': 'Goa',
   'confirmedCasesIndian': 56622,
   'confirmedCasesForeign': 1,
   'discharged': 54792,
   'deaths': 818,
   'totalConfirmed': 56623},
  {'loc': 'Gujarat',
   'confirmedCasesIndian': 287008,
   'confirmedCasesForeign': 1,
   'discharged': 275238,
   'deaths': 4450,
   'totalConfirmed': 287009},
  {'loc': 'Haryana',
   'confirmedCasesIndian': 279814,
   'confirmedCasesForeign': 14,
   'discharged': 271375,
   'deaths': 3098,
   'totalConfirmed': 279828},
  {'loc': 'Himachal Pradesh',
   'confirmedCasesIndian': 60678,
   'confirmedCasesForeign': 0,
   'discharged': 58404,
   'deaths': 1018,
   'totalConfirmed': 60678},
  {'loc': 'Jammu and Kashmir',
   'confirmedCasesIndian': 128547,
   'confirmedCasesForeign': 0,
   'discharged': 125276,
   'deaths': 1981,
   'totalConfirmed': 128547},
  {'loc': 'Jharkhand',
   'confirmedCasesIndian': 121261,
   'confirmedCasesForeign': 0,
   'discharged': 119409,
   'deaths': 1096,
   'totalConfirmed': 121261},
  {'loc': 'Karnataka',
   'confirmedCasesIndian': 970202,
   'confirmedCasesForeign': 0,
   'discharged': 944256,
   'deaths': 12434,
   'totalConfirmed': 970202},
  {'loc': 'Kerala',
   'confirmedCasesIndian': 1104220,
   'confirmedCasesForeign': 8,
   'discharged': 1074805,
   'deaths': 4495,
   'totalConfirmed': 1104228},
  {'loc': 'Ladakh',
   'confirmedCasesIndian': 9908,
   'confirmedCasesForeign': 0,
   'discharged': 9704,
   'deaths': 130,
   'totalConfirmed': 9908},
  {'loc': 'Lakshadweep',
   'confirmedCasesIndian': 666,
   'confirmedCasesForeign': 0,
   'discharged': 536,
   'deaths': 1,
   'totalConfirmed': 666},
  {'loc': 'Madhya Pradesh',
   'confirmedCasesIndian': 275727,
   'confirmedCasesForeign': 0,
   'discharged': 263821,
   'deaths': 3906,
   'totalConfirmed': 275727},
  {'loc': 'Maharashtra',
   'confirmedCasesIndian': 2479679,
   'confirmedCasesForeign': 3,
   'discharged': 2214867,
   'deaths': 53399,
   'totalConfirmed': 2479682},
  {'loc': 'Manipur',
   'confirmedCasesIndian': 29335,
   'confirmedCasesForeign': 0,
   'discharged': 28933,
   'deaths': 373,
   'totalConfirmed': 29335},
  {'loc': 'Meghalaya',
   'confirmedCasesIndian': 14016,
   'confirmedCasesForeign': 0,
   'discharged': 13837,
   'deaths': 149,
   'totalConfirmed': 14016},
  {'loc': 'Mizoram',
   'confirmedCasesIndian': 4448,
   'confirmedCasesForeign': 0,
   'discharged': 4423,
   'deaths': 11,
   'totalConfirmed': 4448},
  {'loc': 'Nagaland',
   'confirmedCasesIndian': 12225,
   'confirmedCasesForeign': 0,
   'discharged': 12132,
   'deaths': 91,
   'totalConfirmed': 12225},
  {'loc': 'Odisha',
   'confirmedCasesIndian': 338817,
   'confirmedCasesForeign': 0,
   'discharged': 336124,
   'deaths': 1919,
   'totalConfirmed': 338817},
  {'loc': 'Puducherry',
   'confirmedCasesIndian': 40386,
   'confirmedCasesForeign': 0,
   'discharged': 39521,
   'deaths': 675,
   'totalConfirmed': 40386},
  {'loc': 'Punjab',
   'confirmedCasesIndian': 213110,
   'confirmedCasesForeign': 0,
   'discharged': 188529,
   'deaths': 6324,
   'totalConfirmed': 213110},
  {'loc': 'Rajasthan',
   'confirmedCasesIndian': 325422,
   'confirmedCasesForeign': 2,
   'discharged': 319041,
   'deaths': 2798,
   'totalConfirmed': 325424},
  {'loc': 'Sikkim',
   'confirmedCasesIndian': 6206,
   'confirmedCasesForeign': 0,
   'discharged': 6017,
   'deaths': 135,
   'totalConfirmed': 6206},
  {'loc': 'Tamil Nadu',
   'confirmedCasesIndian': 866976,
   'confirmedCasesForeign': 6,
   'discharged': 846480,
   'deaths': 12599,
   'totalConfirmed': 866982},
  {'loc': 'Telengana',
   'confirmedCasesIndian': 303445,
   'confirmedCasesForeign': 10,
   'discharged': 298826,
   'deaths': 1671,
   'totalConfirmed': 303455},
  {'loc': 'Tripura',
   'confirmedCasesIndian': 33464,
   'confirmedCasesForeign': 0,
   'discharged': 33043,
   'deaths': 391,
   'totalConfirmed': 33464},
  {'loc': 'Uttarakhand',
   'confirmedCasesIndian': 98447,
   'confirmedCasesForeign': 1,
   'discharged': 95883,
   'deaths': 1704,
   'totalConfirmed': 98448},
  {'loc': 'Uttar Pradesh',
   'confirmedCasesIndian': 607537,
   'confirmedCasesForeign': 1,
   'discharged': 595743,
   'deaths': 8759,
   'totalConfirmed': 607538},
  {'loc': 'West Bengal',
   'confirmedCasesIndian': 580631,
   'confirmedCasesForeign': 0,
   'discharged': 566821,
   'deaths': 10306,
   'totalConfirmed': 580631}]}

In [22]:
x_hist[-1]['regional'][1]['loc']

'Andhra Pradesh'

In [23]:
len(x_hist)

383

In [24]:
x_hist[-1]['regional'][0].keys()

dict_keys(['loc', 'confirmedCasesIndian', 'confirmedCasesForeign', 'discharged', 'deaths', 'totalConfirmed'])

In [29]:
for i in range(len(x_hist[-1]['regional'])):
    file_name = x_hist[-1]['regional'][i]['loc']
    sub_file = re.sub(r'[^\w]', '', file_name)
    ff = open(sub_file+".csv", "a")
    ff.seek(0)
    ff.write('date,confirmedcasesindian,confirmedcasesforeign,discharged,deaths,totalConfirmed\n')
    ff.close()

In [24]:
len(x_hist[-1]['regional'])

36

In [26]:
count = 0
for i in range(0,len(x_hist)):
    if len(x_hist[i]['regional']) <36:
        count= count + 1
    print(len(x_hist[i]['regional']))

12
12
12
13
13
14
15
15
17
19
20
22
23
23
24
25
27
27
27
27
27
27
29
29
30
30
30
30
31
31
31
31
31
31
32
33
33
33
33
33
33
33
33
32
32
32
32
32
32
32
32
32
32
32
32
32
32
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
34
34
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36

In [27]:
count

140

In [31]:
len(x_hist[0]['regional'])

12

# Date and loc
# iterate date and then on region

In [84]:
for j in range(0,a):  #this repeats for states i.e. 31 times
    print(x_hist[i]['regional'][j]['loc'])
    ff = open(x_hist[i]['regional'][j]['loc']+".csv", "a")
    ff.write('date,confirmedcasesindian,confirmedcasesforeign,discharged,deaths,totalConfirmed\n')
    for i in range(0,len(x_hist)): #this repeats for dates i.e as of march 23 2021 , 378 times]
        ff.write(x_hist[i]['day']+","+str(x_hist[i]['regional'][j]['confirmedCasesIndian'])+","+str(x_hist[i]['regional'][j]['confirmedCasesForeign'])+","+str(x_hist[i]['regional'][j]['discharged'])+","+str(x_hist[i]['regional'][j]['deaths'])+","+str(x_hist[i]['regional'][j]['totalConfirmed'])+"\n")
    ff.close()

Delhi
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Dadra and Nagar Haveli and Daman and Diu
Delhi
Goa
Gujarat
Haryana

In [35]:
len(x_hist)

383

In [28]:
import re

In [52]:
for i in range(len(x_hist)):
        # print(x_hist[i]['regional'][j]['loc'])
        # ff = open(x_hist[0]['regional'][j]['loc']+".csv", "a")
        # ff.write('date,confirmedcasesindian,confirmedcasesforeign,discharged,deaths,totalConfirmed\n')
    for j in range(0,len(x_hist[i]['regional'])): #this repeats for dates i.e as of march 23 2021 , 378 times]
        file_name = x_hist[i]['regional'][j]['loc']
        sub_file = re.sub(r'[^\w]', '', file_name)
        ff = open(sub_file+".csv", "a")
        ff.write(x_hist[i]['day']+","+str(x_hist[i]['regional'][j]['confirmedCasesIndian'])+","+str(x_hist[i]['regional'][j]['confirmedCasesForeign'])+","+str(x_hist[i]['regional'][j]['discharged'])+","+str(x_hist[i]['regional'][j]['deaths'])+","+str(x_hist[i]['regional'][j]['totalConfirmed'])+"\n")
        ff.close()

In [42]:
i

138

In [43]:
j

30

In [51]:
file_name = x_hist[i]['regional'][j]['loc']
sub_file = re.sub(r'[^\w]', '', file_name)
sub_file
print(file_name)

Telangana***

In [45]:
x_hist[i]

{'day': '2020-07-26',
 'summary': {'total': 1385522,
  'confirmedCasesIndian': 1385484,
  'confirmedCasesForeign': 38,
  'discharged': 885577,
  'deaths': 32063,
  'confirmedButLocationUnidentified': 0},
 'regional': [{'confirmedCasesIndian': 290,
   'confirmedCasesForeign': 0,
   'discharged': 176,
   'deaths': 0,
   'loc': 'Andaman and Nicobar Islands',
   'totalConfirmed': 290},
  {'confirmedCasesIndian': 88671,
   'confirmedCasesForeign': 0,
   'discharged': 43255,
   'deaths': 985,
   'loc': 'Andhra Pradesh',
   'totalConfirmed': 88671},
  {'confirmedCasesIndian': 1126,
   'confirmedCasesForeign': 0,
   'discharged': 428,
   'deaths': 3,
   'loc': 'Arunachal Pradesh',
   'totalConfirmed': 1126},
  {'confirmedCasesIndian': 31086,
   'confirmedCasesForeign': 0,
   'discharged': 23055,
   'deaths': 77,
   'loc': 'Assam',
   'totalConfirmed': 31086},
  {'confirmedCasesIndian': 36604,
   'confirmedCasesForeign': 0,
   'discharged': 24053,
   'deaths': 234,
   'loc': 'Bihar',
   'totalConfirmed': 36604},
  {'confirmedCasesIndian': 852,
   'confirmedCasesForeign': 0,
   'discharged': 555,
   'deaths': 13,
   'loc': 'Chandigarh',
   'totalConfirmed': 852},
  {'confirmedCasesIndian': 7087,
   'confirmedCasesForeign': 0,
   'discharged': 4683,
   'deaths': 39,
   'loc': 'Chhattisgarh',
   'totalConfirmed': 7087},
  {'confirmedCasesIndian': 860,
   'confirmedCasesForeign': 0,
   'discharged': 530,
   'deaths': 2,
   'loc': 'Dadra and Nagar Haveli and Daman and Diu',
   'totalConfirmed': 860},
  {'confirmedCasesIndian': 129530,
   'confirmedCasesForeign': 1,
   'discharged': 113068,
   'deaths': 3806,
   'loc': 'Delhi',
   'totalConfirmed': 129531},
  {'confirmedCasesIndian': 4685,
   'confirmedCasesForeign': 1,
   'discharged': 3047,
   'deaths': 33,
   'loc': 'Goa',
   'totalConfirmed': 4686},
  {'confirmedCasesIndian': 54625,
   'confirmedCasesForeign': 1,
   'discharged': 39631,
   'deaths': 2300,
   'loc': 'Gujarat',
   'totalConfirmed': 54626},
  {'confirmedCasesIndian': 30524,
   'confirmedCasesForeign': 14,
   'discharged': 23654,
   'deaths': 389,
   'loc': 'Haryana',
   'totalConfirmed': 30538},
  {'confirmedCasesIndian': 2049,
   'confirmedCasesForeign': 0,
   'discharged': 1173,
   'deaths': 11,
   'loc': 'Himachal Pradesh',
   'totalConfirmed': 2049},
  {'confirmedCasesIndian': 17305,
   'confirmedCasesForeign': 0,
   'discharged': 9517,
   'deaths': 305,
   'loc': 'Jammu and Kashmir',
   'totalConfirmed': 17305},
  {'confirmedCasesIndian': 7836,
   'confirmedCasesForeign': 0,
   'discharged': 3425,
   'deaths': 82,
   'loc': 'Jharkhand',
   'totalConfirmed': 7836},
  {'confirmedCasesIndian': 90942,
   'confirmedCasesForeign': 0,
   'discharged': 33750,
   'deaths': 1796,
   'loc': 'Karnataka',
   'totalConfirmed': 90942},
  {'confirmedCasesIndian': 18090,
   'confirmedCasesForeign': 8,
   'discharged': 8611,
   'deaths': 59,
   'loc': 'Kerala',
   'totalConfirmed': 18098},
  {'confirmedCasesIndian': 1276,
   'confirmedCasesForeign': 0,
   'discharged': 1057,
   'deaths': 3,
   'loc': 'Ladakh',
   'totalConfirmed': 1276},
  {'confirmedCasesIndian': 26926,
   'confirmedCasesForeign': 0,
   'discharged': 18488,
   'deaths': 799,
   'loc': 'Madhya Pradesh',
   'totalConfirmed': 26926},
  {'confirmedCasesIndian': 366365,
   'confirmedCasesForeign': 3,
   'discharged': 207194,
   'deaths': 13389,
   'loc': 'Maharashtra',
   'totalConfirmed': 366368},
  {'confirmedCasesIndian': 2176,
   'confirmedCasesForeign': 0,
   'discharged': 1524,
   'deaths': 0,
   'loc': 'Manipur',
   'totalConfirmed': 2176},
  {'confirmedCasesIndian': 646,
   'confirmedCasesForeign': 0,
   'discharged': 94,
   'deaths': 5,
   'loc': 'Meghalaya',
   'totalConfirmed': 646},
  {'confirmedCasesIndian': 361,
   'confirmedCasesForeign': 0,
   'discharged': 183,
   'deaths': 0,
   'loc': 'Mizoram',
   'totalConfirmed': 361},
  {'confirmedCasesIndian': 1289,
   'confirmedCasesForeign': 0,
   'discharged': 541,
   'deaths': 4,
   'loc': 'Nagaland',
   'totalConfirmed': 1289},
  {'confirmedCasesIndian': 24013,
   'confirmedCasesForeign': 0,
   'discharged': 15929,
   'deaths': 130,
   'loc': 'Odisha',
   'totalConfirmed': 24013},
  {'confirmedCasesIndian': 2654,
   'confirmedCasesForeign': 0,
   'discharged': 1561,
   'deaths': 38,
   'loc': 'Puducherry',
   'totalConfirmed': 2654},
  {'confirmedCasesIndian': 12684,
   'confirmedCasesForeign': 0,
   'discharged': 8297,
   'deaths': 291,
   'loc': 'Punjab',
   'totalConfirmed': 12684},
  {'confirmedCasesIndian': 35296,
   'confirmedCasesForeign': 2,
   'discharged': 25306,
   'deaths': 613,
   'loc': 'Rajasthan',
   'totalConfirmed': 35298},
  {'confirmedCasesIndian': 499,
   'confirmedCasesForeign': 0,
   'discharged': 142,
   'deaths': 0,
   'loc': 'Sikkim',
   'totalConfirmed': 499},
  {'confirmedCasesIndian': 206731,
   'confirmedCasesForeign': 6,
   'discharged': 151055,
   'deaths': 3409,
   'loc': 'Tamil Nadu',
   'totalConfirmed': 206737},
  {'confirmedCasesIndian': 52466,
   'confirmedCasesForeign': 0,
   'discharged': 40334,
   'deaths': 455,
   'loc': 'Telangana***',
   'totalConfirmed': 52466},
  {'confirmedCasesIndian': 3862,
   'confirmedCasesForeign': 0,
   'discharged': 2209,
   'deaths': 11,
   'loc': 'Tripura',
   'totalConfirmed': 3862},
  {'confirmedCasesIndian': 5960,
   'confirmedCasesForeign': 1,
   'discharged': 3495,
   'deaths': 63,
   'loc': 'Uttarakhand',
   'totalConfirmed': 5961},
  {'confirmedCasesIndian': 63741,
   'confirmedCasesForeign': 1,
   'discharged': 39903,
   'deaths': 1387,
   'loc': 'Uttar Pradesh',
   'totalConfirmed': 63742},
  {'confirmedCasesIndian': 56377,
   'confirmedCasesForeign': 0,
   'discharged': 35654,
   'deaths': 1332,
   'loc': 'West Bengal',
   'totalConfirmed': 56377}]}

In [39]:
    for j in range(0,len(x_hist[-1]['regional'])): #this repeats for dates i.e as of march 23 2021 , 378 times]
        ff = open(x_hist[-1]['regional'][j]['loc']+".csv", "a")
        ff.write('date,confirmedcasesindian,confirmedcasesforeign,discharged,deaths,totalConfirmed\n')
        ff.close()

In [38]:
len(x_hist[4]['regional'])

13

In [25]:
f = open("hist_summary.csv", "a")
f.write('date,total,confirmedcasesindian,confirmedcasesforeign,dischared,deaths,confirmedButLocationUnidentified')
f.close()

AttributeError: 'str' object has no attribute 'csv'

In [26]:
(x_hist[-1]['summary'])

{'total': 11686796,
 'confirmedCasesIndian': 11686748,
 'confirmedCasesForeign': 48,
 'discharged': 11181253,
 'deaths': 160166,
 'confirmedButLocationUnidentified': 0}

In [47]:
f = open("hist_summary.csv", "a")
f.write('date,total,confirmedcasesindian,confirmedcasesforeign,dischared,deaths,confirmedButLocationUnidentified')
f.close()

In [49]:
for i in range(0,len(x_hist)):
    f = open("hist_summary.csv", "a")
    f.write(x_hist[i]['day']+","+str(x_hist[i]['summary']['total'])+","+str(x_hist[i]['summary']['confirmedCasesIndian'])+","+str(x_hist[i]['summary']['confirmedCasesForeign'])+","+str(x_hist[i]['summary']['discharged'])+","+str(x_hist[i]['summary']['deaths'])+","+str(x_hist[i]['summary']['confirmedButLocationUnidentified'])+"\n")
    f.close()

In [27]:
history = pd.read_json(json.dumps(x_hist[-3]['regional']))

In [28]:
history

,loc,confirmedCasesIndian,confirmedCasesForeign,discharged,deaths,totalConfirmed
0,Andaman and Nicobar Islands,5038,0,4969,62,5038
1,Andhra Pradesh,893366,0,884094,7189,893366
2,Arunachal Pradesh,16842,0,16783,56,16842
3,Assam,217951,0,215201,1100,217951
4,Bihar,263443,0,261413,1557,263443
5,Chandigarh,24220,0,22142,361,24220
6,Chhattisgarh,323153,0,311520,3940,323153
7,Dadra and Nagar Haveli and Daman and Diu,3471,0,3425,2,3471
8,Delhi,647160,1,632797,10955,647161
9,Goa,56524,1,54713,815,56525
10,Gujarat,285428,1,274249,4443,285429
11,Haryana,278947,14,271038,3093,278961
12,Himachal Pradesh,60537,0,58321,1017,60537
13,Jammu and Kashmir,128389,0,125218,1980,128389
14,Jharkhand,121178,0,119361,1095,121178
15,Karnataka,968487,0,943208,12432,968487
16,Kerala,1102345,8,1072554,4482,1102353
17,Ladakh,9906,0,9703,130,9906
18,Lakshadweep,648,0,511,1,648
19,Madhya Pradesh,274405,0,263158,3903,274405
20,Maharashtra,2449144,3,2203553,53300,2449147
21,Manipur,29332,0,28931,373,29332
22,Meghalaya,14012,0,13835,149,14012
23,Mizoram,4447,0,4421,11,4447
24,Nagaland,12225,0,12132,91,12225
25,Odisha,338719,0,336066,1918,338719
26,Puducherry,40322,0,39521,674,40322
27,Punjab,210466,0,187198,6280,210466
28,Rajasthan,324946,2,318842,2796,324948
29,Sikkim,6204,0,6016,135,6204
30,Tamil Nadu,865687,6,845812,12590,865693
31,Telengana,303108,10,298645,1669,303118
32,Tripura,33464,0,33043,391,33464
33,Uttarakhand,98310,1,95851,1704,98311
34,Uttar Pradesh,607049,1,595518,8758,607050
35,West Bengal,580209,0,566526,10303,580209

In [29]:
x_hist_summary = history['summary'].to_numpy()

KeyError: 'summary'

In [25]:
x_hist_summary[0]

NameError: name 'x_hist_summary' is not defined

In [26]:
df_hist_summary = pd.DataFrame(x_hist_summary)

NameError: name 'x_hist_summary' is not defined

In [27]:
df_hist_summary

NameError: name 'df_hist_summary' is not defined